algorithms/*
!algorithms/test/
!algorithms/yolo_http_server/
!algorithms/openarch_gateway/
!algorithms/ez_agent/
!algorithms/framework/
!algorithms/open_storage/
!algorithms/r2c2r/
!algorithms/analysis_*
!algorithms/open_pipeline
algorithms/open_storage/storage/*
algorithms/ez_agent/.env
algorithms/ez_agent/context.md
algorithms/ez_agent/client.py
algorithms/ez_agent/doc.md
algorithms/r2c2r/.env
instances
logs
templates/*
!templates/yolo_http_server.json
!templates/ezagent.json
!templates/gateway.json
!templates/framework.json
!templates/storage.json
!templates/r2c2r.json
__pycache__
.vscode
rules.json.lock
dump.md
ezcli_doc.md
model.pth