PROCESS_MANAGER_URL=http://127.0.0.1:8001/api/pmgr
SERVICE_MANAGER_URL=http://127.0.0.1:8001/smgr
SERVICE_ROOT_URL=http://127.0.0.1:8001
OPENAI_API_KEY=123
OPENAI_BASE_URL=http://127.0.0.1:8001/r2c2r/v1
OPENAI_MODEL_NAME=deepseek-v4-pro
OPENAI_DEFAULT_MODEL=deepseek-v4-pro